@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
  @apply hidden bg-transparent;
}

::-webkit-scrollbar:vertical {
  @apply w-1;
}

::-webkit-scrollbar:horizontal {
  @apply h-1;
}

@screen sm {
  :root {
    scrollbar-color: hsl(var(--primary)) transparent;
  }

  ::-webkit-scrollbar {
    @apply block;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-primary;
  }
}
